
* {
    padding:0;
    margin: 0;
}

body{
    height: 2000px;
}
ul {
    background-color: rgba(66, 62, 62, 0.712);
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 20px;
}

ul li:hover{
    background-color: firebrick;
}
ul li a {
    color: white;
    text-decoration: none;
}

/*start hero section */

                
.hero {
    height: 550px;
    background-image: url('../images/hero.jpg');
    background-position: center center;
}



.about_us {
    
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.about_us h1 {
    margin-bottom: 30px;
    color: red;
    font-size: 35px;
}


.all-box {
    display: flex;
}
.box {
    width: 30%;
    background-color: rgba(129, 121, 121, 0.356);
    margin: auto;
    height: 200PX;
    padding: 10PX;
    border-radius: 10PX;
    cursor: pointer;
}

.box:hover {
    box-shadow:3px 3px 3px rgba(102, 51, 153, 0.603);
}
